:host {
  button {
    color: white;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
  }

  .primary {
    background: #1683fb;
  }

  .delete {
    background: #ff5a5a;
  }

  .success {
    background: #47b280;
  }

  .secondary {
    background: transparent;
  }

  .warn {
    background: #ffc108;
  }

  button:disabled {
    background: gainsboro;
    cursor: auto;
  }

}
